<!-- <navbar></navbar>
<header>
  <hero></hero>
</header> -->
<main>
  <!-- HEADER /////////////////////////////////////////////////////////////////////////// -->
  <div class="nav-header">
    <ul>
      <li><a class="active" href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#about">About</a></li>
    </ul>
  </div>
	<header id="welcome" class="parent">
		<div class="fade child">

			<div class="container_small">
				<!-- Header Titles -->
				<h1 class="header_title">X Dimension Media</h1>
				<h2 class="header_subtitle"></h2>
			</div>
		</div>
	</header>
	<!-- END HEADER /////////////////////////////////////////////////////////////////////////// -->

	<!-- ABOUT SECTION /////////////////////////////////////////////////////////////////////////// -->
	<section id="about">
		<div class="container_small">
			<h2 class="section_title">About Us</h2>
			<p>
				十维文化传媒有限公司（X Dimension Media）以国内外优质娱乐产品的演出活动代理为业务规模基础，新媒体IP项目的创制和包装为发展重点，以及国内一线文化城市的品牌推广为独特亮点，以打造娱乐产品助力中国文化走向世界为核心目标。十维致力于不断发掘并创新优质娱乐内容，实现价值多维度变现，以前瞻的思维和锐利的视角，领军北美新一代的文化娱乐市场。
			</p>
			<!--<a href="#" class="button"><i class="fa fa-download"></i> My Resume</a>-->
		</div>
	</section>
	<!-- END ABOUT SECTION /////////////////////////////////////////////////////////////////////////// -->

	<!-- PORTFOLIO SECTION /////////////////////////////////////////////////////////////////////////// -->
	<!--<section id="portfolio">-->
		<!--<div class="container_big">-->
			<!--<h2 class="section_title">Team</h2>-->

			<!--<div class="works">-->
				<!--&lt;!&ndash; Work 01 &ndash;&gt;-->
				<!--<article>-->
					<!--<a href="#">-->
						<!--<div class="border">-->
							<!--<img src="images/work.jpg" alt="">-->
							<!--<h3 class="caption">Work 01</h3>-->
						<!--</div>-->
					<!--</a>-->
				<!--</article>-->
				<!--&lt;!&ndash; Work 02 &ndash;&gt;-->
				<!--<article>-->
					<!--<a href="#">-->
						<!--<div class="border">-->
							<!--<img src="images/work.jpg" alt="">-->
							<!--<h3 class="caption">Work 02</h3>-->
						<!--</div>-->
					<!--</a>-->
				<!--</article>-->
				<!--&lt;!&ndash; Work 03 &ndash;&gt;-->
				<!--<article>-->
					<!--<a href="#">-->
						<!--<div class="border">-->
							<!--<img src="images/work.jpg" alt="">-->
							<!--<h3 class="caption">Work 03</h3>-->
						<!--</div>-->
					<!--</a>-->
				<!--</article>-->
				<!--&lt;!&ndash; Work 04 &ndash;&gt;-->
				<!--<article>-->
					<!--<a href="#">-->
						<!--<div class="border">-->
							<!--<img src="images/work.jpg" alt="">-->
							<!--<h3 class="caption">Work 04</h3>-->
						<!--</div>-->
					<!--</a>-->
				<!--</article>-->
				<!--&lt;!&ndash; Work 05 &ndash;&gt;-->
				<!--<article>-->
					<!--<a href="#">-->
						<!--<div class="border">-->
							<!--<img src="images/work.jpg" alt="">-->
							<!--<h3 class="caption">Work 05</h3>-->
						<!--</div>-->
					<!--</a>-->
				<!--</article>-->
				<!--&lt;!&ndash; Work 06 &ndash;&gt;-->
				<!--<article>-->
					<!--<a href="#">-->
						<!--<div class="border">-->
							<!--<img src="images/work.jpg" alt="">-->
							<!--<h3 class="caption">Work 06</h3>-->
						<!--</div>-->
					<!--</a>-->
				<!--</article>-->
			<!--</div>-->
		<!--</div>-->
	<!--</section>-->
	<!-- END PORTFOLIO SECTION /////////////////////////////////////////////////////////////////////////// -->
</main>
