<!-- <navbar></navbar>
<header>
  <hero></hero>
</header> -->
<main>
  <!-- HEADER /////////////////////////////////////////////////////////////////////////// -->
  <header id="wsbn-welcome" class="parent">
    <div class="fade child">
      <div class="container_small">
        <!-- Header Titles -->
        <h1 class="header_title">X Power</h1>
        <h2 class="header_subtitle"></h2>
      </div>
    </div>
  </header>
  <!-- END HEADER /////////////////////////////////////////////////////////////////////////// -->

  <!-- ABOUT SECTION /////////////////////////////////////////////////////////////////////////// -->
  <section id="about">
    <div class="container_small">
      <h2 class="section_title">《舞所不能》X POWER</h2>
      <p>
        “舞所不能”为全美首个新生代大型街舞比赛。大赛旨在为舞蹈爱好者们提供一个互动交流平台，为每一位参赛选手与知名专业舞蹈评委搭建一个交流学习的桥梁。优秀团队与个人有机会被推荐至国内大型舞蹈真人秀，以及获得新媒体意见领袖的偶像包装和艺人经纪。
      </p>
    </div>
  </section>
  <section id="contact">
    <div class="container_small">
      <h2 class="section_title">赛制
        The Rules of Competition
      </h2>
      <h3 class="section_detail">海选赛制：
        采取网络海选的方式，由专业舞蹈评委根据上交的表演视频进行综合打分
        得分最高的五支舞蹈团队和七位个人选手进军总决赛
        <br /><br />
        人气比拼：
        微视app上获得最高KOL指数的舞团和舞者将成为本届街舞大赛的最高人气舞团/舞者（KOL指数由微视账户的粉丝数量以及账号内所有视频的播放量、点赞数总和计算得出）
        遗憾淘汰的舞团舞者中，获得最高KOL指数的团队和个人将被复活，直接进入总决赛
        <br /><br />
        决赛赛制：
        <br /><br />
        团体赛
        <br /><br />
        参赛舞团派出一支5～20人的团队进行齐舞比赛。舞种及音乐自选，齐舞时长控制在 8 分钟以内
        评分由至少五位专业评委根据以下五点打分(每项 20 分，共 100 分)：基本功，原创，难度，完成度(包括整齐度与舞蹈表现力)，整体印象
        根据综合评分，评出团体冠军
        <br /><br />
        个人赛
        <br /><br />
        以个人为单位参与报名，参赛舞团中也可派出队员参加
        比赛分为两部分，第一部分为个人编舞比赛，舞种和音乐自选，时长控制在3分钟左右，由至少五位专业评委根据以下五点打分(每项 20 分，共 100 分)：基本功，原创，难度，完成度(包括整齐度与舞蹈表现力)，整体印象
        第二部分为battle比赛，赛制采取 7-to-smoke 车轮战的方式，Battle时长21分钟，每一轮时长1分钟。前两名舞者开始第一轮battle，剩下六名排队。每一轮中，胜者得分，败者不得分，胜者成为擂主继续跳，输的重新排队，累计得分；音乐由所有评委提供并由专业DJ播放；Battle顺序由第一部分得分由高到低排列。
        根据综合评分，评出个人冠军

      </h3>
      <div class="info">
        <!-- Address -->
        <div>
          <h3>Timeline:</h3>
          <p>:<br>海选时间：<br>2018年6月-9月, Audition: June 2018 - September 2018<br>决赛时间:<br>2018年11月, Final: November 2018</p>
          <!--<p>: <br>决赛时间：<br>2018年11月, Final: November 2018</p>-->
        </div>
        <!-- Phone -->
        <div>
          <h3>参赛资格及人群 Eligibility of Participants</h3>
          <p>全美街舞舞蹈社团和studios，以及感兴趣的个人参赛者
            Street dance crews, dance studios and individuals in the United States.
          </p>
          <h3>奖金Rewards</h3>
          <p>团体冠军：$2,000
            Crew dance champion: $2,000
            个人冠军：$500
            Solo dance champion: $500
          </p>
        </div>
        <!-- Email -->
        <div>
          <h3>节目组联系方式</h3>
          <p>节目组邮箱：xpower@xdimensionent.com
            Email: xpower@xdimensionent.com
            微信小助手：dance_Xpower
            Wechat: dance_Xpower
            微视账号：X-Power舞所不能
            Weishi ID: X-Power舞所不能
          </p>
        </div>
      </div>
      <!-- Social icons -->
    </div>
  </section>
  <!-- END ABOUT SECTION /////////////////////////////////////////////////////////////////////////// -->

</main>
